body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-size: 25px;
}

h1 {
    color: goldenrod;
}

div {
    text-align: center;
    margin: auto;
    width: 13%;
}

button {
    color: #016f32;
    width: 150px;
    height: 75px;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    display: block;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: goldenrod;
}

#message-el {
    font-style: italic;
}